<%- include("partials/Header") -%>
<%- include("partials/NavbarA") -%>

<div class="all_home_main">
    <%- include("partials/SidebarAdmin") -%>
    <div class="all_home_content">
        <div class="student_schedule_main">
            <h2 style="padding: 20px 0;">Assign Teachers</h2>

            <div class="container" style="padding-bottom: 20px;">
                <form action="/AdminAssignTeacher" method="POST">
                    <div class="form-group row">
                        <label for="#sem" class="col-md-3">Semester:</label>
                        <select id="sem"  class="form-control col-md-8 up_input" name="semester">
                            <option value="3">3rd</option>
                            <option value="4">4th</option>
                            <option value="5">5th</option>
                            <option value="6">6th</option>
                            <option value="7">7th</option>
                            <option value="8">8th</option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <label for="#sub" class="col-md-3">Subject:</label>
                        <select id="sub"  class="form-control col-md-8 up_input" name="subjectName">
                            <option value="OOP">OOP</option>
                            <option value="COSM">COSM</option>
                            <option value="DS">DS</option>
                            <option value="DSA">DSA</option>
                            <option value="AM">ADV. MATHS</option>
                            <option value="LD">LD</option>
                            <option value="PPL LAB">PPL LAB</option>
                            <option value="DSA LAB">DSA LAB</option>
                            <option value="LD LAB">LD LAB</option>
                            <option value="OOP LAB">OOP LAB</option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <label for="#teach" class="col-md-3">Teacher:</label>
                        <select id="teach"  class="form-control col-md-8 up_input" name="teacherName">
                            <%
                                data.forEach(function(ele){ %>
                                    <option value="<%= ele.fullname %>"><%= ele.fullname %></option>
                                <% });
                            %>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg submit_btn" style="margin-top: 20px;">Assign</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    let sideLinks = document.querySelectorAll(".all_sidebar_links");
    sideLinks[2].classList.add("active_sidebar");

    let semList = document.querySelector("#sem");
    let subList = document.querySelector("#sub");
    semList.addEventListener("change",()=>{
        let n = semList.value;

        if(n==3){
            subList.innerHTML="<option value='OOP'>OOP</option><option value='COSM'>COSM</option><option value='DS'>DS</option><option value='DSA'>DSA</option><option value='AM'>ADV. MATHS</option><option value='LD'>LD</option><option value='PPL LAB'>PPL LAB</option><option value='DSA LAB'>DSA LAB</option><option value='LD LAB'>LD LAB</option><option value='OOP LAB'>OOP LAB</option>";
        }
        else if(n==4){
            subList.innerHTML="<option value='CA & MP'>CA & MP</option><option value='PPL'>PPL</option><option value='CE'>COMM. ENGG.</option><option value='DBFS'>DBFS</option><option value='AM'>ADV. MATHS</option><option value='COA'>COA</option><option value='LINUX LAB'>LINUX LAB</option><option value='CA LAB'>CA & MP LAB</option><option value='DBFS LAB'>DBFS LAB</option><option value='PROG. LAB'>PROG. LAB</option><option value='COA LAB'>COA LAB</option>";
        }
        else if(n==5){
            subList.innerHTML="<option value='SP'>SP</option><option value='DBMS'>DBMS</option><option value='CN'>CN</option><option value='TOC'>TOC</option><option value='MP'>MP</option><option value='HCI'>HCI</option><option value='SP LAB'>SP LAB</option><option value='DBMS LAB'>DBMS LAB</option><option value='HCI LAB'>HCI LAB</option><option value='CN LAB'>CN LAB</option><option value='MP LAB'>MP LAB</option>";
        }
        else if(n==6){
            subList.innerHTML="<option value='OS'>OS</option><option value='JAVA'>JAVA</option><option value='AI'>AI</option><option value='WT'>WT</option><option value='ROBOTICS'>ROBOTICS</option><option value='CG'>CG</option><option value='OS LAB'>OS LAB</option><option value='AI LAB'>AI LAB</option><option value='WT LAB'>WT LAB</option><option value='ROB. LAB'>ROB. LAB</option><option value='CG LAB'>CG LAB</option>";
        }
        else if(n==7){
            subList.innerHTML="<option value='DAA'>DAA</option><option value='DWDM'>DWDM</option><option value='SE'>SE</option><option value='CD'>CD</option><option value='CST'>CST</option><option value='BDA'>BDA</option><option value='SEMINAR'>SEMINAR</option><option value='DWDM LAB'>DWDM LAB</option><option value='SE LAB'>SE LAB</option><option value='CD LAB'>CD LAB</option><option value='CST LAB'>CST LAB</option><option value='CST LAB'>BDA LAB</option>";
        }
        else if(n==8){
            subList.innerHTML="<option value='CNM'>CNM</option><option value='INS'>INS</option><option value='ITC'>ITC</option><option value='GT'>GT</option><option value='ACA'>ACA</option><option value='ES'>ES</option><option value='CNM LAB'>CNM LAB</option><option value='INS LAB'>INS LAB</option><option value='ITC LAB'>ITC LAB</option><option value='GT LAB'>GT LAB</option><option value='ACA LAB'>ACA LAB</option><option value='ES LAB'>ES LAB</option><option value='PROJECT'>PROJECT</option>";
        }
    });
    
</script>

</html>